.listItem {
    width: 225px;
    height: 120px;
    background-color: var(--main-color);
    margin-right: 5px;
    overflow: hidden;
    color: white;
}

.icons {
    font-size: medium;
}

.listItem:hover {
    width: 325px;
    height: 300px;
    box-shadow: -2px 2px 7px 4px rgba(77, 70, 70, 0.35);
    -webkit-box-shadow: -2px 2px 7px 4px rgba(77, 70, 70, 0.35);
    -moz-box-shadow: -2px 2px 7px 4px rgba(77, 70, 70, 0.35);
    position: absolute;
    top: -150px;
}

.listItem:hover>img {
    height: 170px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}