.newProduct{
    flex:4;
}
.addProductForm{
    margin-top: 10px;
}
.newProductItem>label{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
.newProductItem>input{
    height: 20px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newProductItem{
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.newProductButton{
    width: 200px;
    border: none;
    background-color: blue;
    color: white;
    padding: 7px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}