.sideBar{
    flex: 1;
    height: calc(100vh - 50px); 
    position: sticky;
    top: 50px;
}
.sideBarWrapper{
    padding: 20px;
    color: tomato;
}
.sideBarMenu{
    margin-bottom: 20px;
}
.sideBarTitle{
    font-size: 25px;
    color: blue;
}
.sideBarList{
    list-style: none;
    padding: 5px;
}
.sideBarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sideBarListItem.active, .sideBarListItem:hover{
    background-color: wheat;
}
.sideBarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}